<div class="group-info">
   <p>
    <img src='<%= group.icon %>' alt='<%= group.icon %>' width='100px' />
  </p>

   <p class="group-names">
    <%= group.name %>
   </p>

  
      <%= link_to "Show this group", group %>
  
</div>