<div id="<%= dom_id group %>">

<div class ="group-cont">
<div>
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>
</div>
<div>
  <p>
    <strong>Icon:</strong>
    <img src='<%= group.icon %>' alt='<%= group.icon %>' width='100px' />
  </p>
  </div>
 </div>
</div>
