<div id ="group-index-title">
  <div> 
       <%= link_to 'Back',  root_path, class: "splash-link" %> <br/>
  </div>
  <div>
      <h1>Categories</h1>
  </div>
  <div >
      <span><span>
  </div>
</div>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>    
  <% end %>
</div>

<div class="new-grp-link">
  <%= link_to "New group", new_group_path %>

</div>

<p style="color: green"><%= notice %></p>
