<div class="new-grp">
<div class ="new-grp-heading ">
<h1 class="">New group</h1>
</div>
<div class="new-grp-form">
<%= render "form", group: @group %>
</div>

<div class="new-link-back">
  <%= link_to "Back to groups", groups_path, class: "backward" %>
</div>
</div>