/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.group-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -60px;
}

.new-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-grp-heading {
  font-size: 2rem;
  align-self: center;
  background-color: #303;
  width: 100%;
}

.new-grp-heading h1 {
  color: gold;
  align-self: center;
  text-align: center;
}

.new-link-back {
  display: flex;
  justify-content: center;
}

.new-grp-form {
  width: 100%;
}

.container-grp-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.splash-logo {
  width: 30px;
  height: 30px;
}

.new-expense {
  display: flex;
  flex-direction: column;
  width: 60em;
}

.new-expense h1 {
  font-size: 2rem;
  text-align: center;
}

.group-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------- splash  ------------- */

.splash-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  flex-direction: column;
}

.splash-link {
  text-decoration: none;
  width: 40%;
  font-size: 1em;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  background-color: #51b523;
  margin-left: 30%;
}

.splash-container {
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
  width: 100%;
}

.splash-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.splash-title {
  text-align: center;
  font-size: 3.4em;
  color: #fff;
  margin-left: 0;
  padding: 0.8em 0;
  width: 86%;
  position: relative;
  left: 0;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0.2em;
  gap: 0.1em;
}

.splash-para {
  font-size: 2.2em;
  color: #000;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-link1 {
  margin-top: 1em;
  text-decoration: none;
  font-size: 2em;
  padding: 0.1em;
  font-weight: bold;
  border: 1px solid #000;
}

.nav-link2 {
  margin-top: 1em;
  text-decoration: none;
  padding: 0.1em;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid #000;
}

.nav-link1a {
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.1em;
  width: 50px;
  text-align: center;
}

.nav-link2b {
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.1em;
  width: 50px;
  text-align: center;
}

/* -------------- Group index  ------------- */

#group-index-title {
  text-align: center;
  font-size: 2em;
  background-color: #3778c2;
  color: #fff;
  margin: 0;
  padding: 0.8em 0;
}

.grp-expenses h1 {
  width: 60%;
}

#group-index-title h1 {
  padding: 0.3em;
}

#groups {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 9.2em;
}

.group-info {
  display: flex;
  width: 100%;
  color: purple;
  gap: 4em;
  font-size: 1.5em;
  padding: 0.5em;
  align-items: center;
  background-color: #608cd5d4;
}

.group-names {
  width: 40%;
}

.new-grp-link {
  border: 1px solid #6c566c;
  background-color: #5d8ee1d4;
  width: 20%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
}

.form-control {
  padding: 2em;
  border: 1px solid #6c566c;
  background-color: #5d8ee1d4;
  margin-bottom: 1.4em;
  width: 100%;
}

.backward {
  border: #6c566c solid 2px;
  padding: 10px;
  background-color: #5d8ee1d4;
  text-decoration: none;
}

/* -------------- Group show  ------------- */
#group-show-title {
  text-align: center;
  font-size: 2em;
  background-color: #3778c2;
  color: #fff;
  margin: 0;
  padding: 0.8em 0;
  margin-bottom: 3em;
  font-family: monospace, sans-serif;
}

.show-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  width: 62%;
  margin-top: 4em;
}

.show-links a {
  text-decoration: none;
  border: 1px solid #6c566c;
  background-color: #5d8ee1d4;
  width: 25%;
  padding: 10px;
  align-self: center;
  text-align: center;
}

.total-expense {
  display: flex;
  gap: 4em;
  font-size: 1.5em;
  align-items: center;
  background-color: #6c566c;
  margin: 0 1.7em;
  padding: 0.2em 0.7em;
}

.group-info-show {
  display: flex;
  width: 100%;
  color: purple;
  gap: 2em;
  font-size: 1.5em;
  align-items: center;
  background-color: #6c566c;
}

.grp-expenses {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  align-items: center;
  gap: 11em;
  width: 70%;
}

.group-cont-show {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.grp-show-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.show-amount {
  text-align: center;
}

.show-name {
  text-align: start;
  font-size: 1em;
}

.show-link-edit {
  display: flex;
  flex-direction: column;
}

.delete-show {
  border: 1px solid #6c566c;
  background-color: #51b523;
  padding: 10px;
  text-align: center;
  margin: 2em 0;
  width: 250px;
}

.show-link-back {
  display: flex;
  flex-direction: column;
}

/* -------------- Group edit  ------------- */

#update-links {
  display: flex;
  width: 62%;
  margin-top: 4em;
  align-items: center;
}

#update-links a {
  text-decoration: none;
  border: 1px solid #6c566c;
  background-color: #a2a267;
  width: 25%;
  padding: 10px;
  align-self: center;
  text-align: center;
  margin-left: 25em;
}

/* -------------- Expense new  ------------- */

.form-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 4em;
  width: 100%;
  height: 10%;
  background-color: #a2a267;
  padding: 2em;
}

.form-btn {
  border: 1px solid #6c566c;
  background-color: #51b523;
  width: 20%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
}

.back-btn {
  border: 1px solid #6c566c;
  background-color: #51b523;
  width: 10%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

/* -------------- mobile version  ------------- */

@media only screen and (max-width: 678px) {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #group-index-title {
    width: 100%;
    font-size: 1.4em;
  }

  .new-grp-heading h1 {
    color: #fff;
    align-self: center;
    text-align: center;
    padding: 0.2em;
    width: 100%;
  }

  .grp-expenses h1 {
    width: 60%;
  }

  #group-index-title h1 {
    padding: 0.2em;
    font-size: 1.4em;
    text-align: center;
  }

  .group-info {
    font-size: 1em;
    gap: 2em;
  }

  .group-info a {
    font-size: 1em;
    text-decoration: none;
  }

  img {
    width: 5em;
    height: 5em;
  }

  .new-grp-link {
    border: 1px solid #6c566c;
    background-color: #608cd5d4;
    width: 100%;
    padding: 10px;
    margin: 3em 1em;
    align-self: center;
    text-align: center;
    text-decoration: none;
  }

  .new-grp-link a {
    text-decoration: none;
    width: 100%;
  }

  /* -------------- New Group  ------------- */

  .new-grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .new-grp-heading {
    font-size: 2em;
    align-self: center;
    background-color: #303;
    width: 100%;
  }

  .new-link-back {
    display: flex;
    justify-content: center;
  }

  .new-grp-form {
    width: 96%;
    margin-left: -1.2em;
  }

  .form-control {
    padding: 1em;
    border: 1px solid #6c566c;
    margin-bottom: 1em;
    width: 100%;
  }

  /* -------------- Group show  ------------- */

  #group-show-title {
    text-align: center;
    font-size: 1.28em;
    background-color: #3778c2;
    color: #fff;
    margin: 0;
    padding: 0.8em 0;
    margin-bottom: 3em;
    font-family: monospace, sans-serif;
  }

  .total-expense {
    display: flex;
    justify-content: space-between;
    gap: 3.2em;
    font-size: 1em;
    align-items: center;
    background-color: #6c566c;
    margin: 0 1em;
    padding: 0.2em 0.4em;
  }

  .group-info-show {
    display: flex;
    width: 100%;
    color: purple;
    gap: 1em;
    font-size: 1em;
    align-items: center;
    background-color: #6c566c;
  }

  .group-info-show img {
    width: 2.1em;
    height: 2.1em;
  }

  .group-info-show p {
    font-size: 0.8em;
  }

  .grp-expenses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    align-items: center;
    width: 96%;
    background-color: #5d8ee1d4;
    padding: 1em 0.4em;
  }

  .group-cont-show {
    display: grid;
    gap: 5.4em;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    left: 0;
    background-color: #e8ebf1;
  }

  .grp-show-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .show-amount {
    text-align: end;
    margin-right: 0.5em;
  }

  .show-name {
    text-align: start;
    font-size: 0.6em;
    margin-right: 1em;
  }

  .show-links {
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    width: 100%;
    margin-top: 4em;
  }

  .show-link-edit {
    display: flex;
    flex-direction: column;
  }

  .delete-show {
    border: 1px solid #6c566c;
    padding: 10px;
    text-align: center;
    margin: 2em 0;
    width: 94%;
  }

  .show-link-back {
    display: flex;
    flex-direction: column;
  }

  .show-links a {
    text-decoration: none;
    border: 1px solid #6c566c;
    width: 90%;
    padding: 6px;
    background-color: #51b523;
  }

  #new-expense-title {
    font-size: 1em;
    width: 100%;
  }

  .new-expense {
    width: 100%;
  }

  .new-expense .form-control {
    width: 90%;
  }

  .form-collection {
    background-color: #303;
    width: 82.6%;
  }

  .form-btn {
    width: 60%;
    position: relative;
    left: 0;
    right: 0;
  }

  .back-btn {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
  }

  /* -------------- splash index  ------------- */
  .splash-user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    flex-direction: column;
  }

  .splash-para {
    font-size: 1.2em;
    color: #000;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0.2em;
    gap: 0.2em;
  }

  .nav-link1 {
    margin-top: 1em;
    text-decoration: none;
    font-size: 0.6em;
    padding: 0.2em;
    font-weight: bold;
    border: 1px solid #000;
  }

  .nav-link2 {
    margin-top: 1em;
    text-decoration: none;
    padding: 0.2em;
    font-size: 0.6em;
    font-weight: bold;
    border: 1px solid #000;
  }

  .splash-title {
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    margin-left: 0;
    padding: 0.8em 0;
    width: 86%;
    position: relative;
    left: 0;
  }

  /* -------------- Loging  ------------- */

  .actions {
    width: 3em;
    margin-top: 1em;
  }

  .actions input {
    background-color: #51b523;
    padding: 1em;
    border: 1px solid #e8ebf1;
  }

  .fields {
    background-color: #e8ebf1;
    width: 50%;
    display: flex;
  }

  .fields [type="checkbox"] {
    padding: 1em;
  }
}
