/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --text: black;
  --blue: #3778c2;
  --green: #51b523;
  --grey: grey;
  --red: #f21905;
  --white: aliceblue;
}

.group-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -60px;
}

.new-grp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-link-back {
  display: flex;
  justify-content: center;
}

.new-grp-form {
  width: 100%;
}

.container-grp-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.splash-logo {
  width: 30px;
  height: 30px;
}

.sign-in {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}

.new-expense {
  display: flex;
  flex-direction: column;
  width: 60em;
}

.new-expense h1 {
  font-size: 2rem;
  text-align: center;
}

.group-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------- splash  ------------- */

.splash-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  flex-direction: column;
}

.splash-para {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  flex-direction: column;
}

.sign-up-page {
  display: flex;
  flex-direction: column;
}

.register {
  width: 100%;
  padding: 1em;
  text-align: center;
  background-color: #266dab;
  color: #fff;
}

.input-field {
  width: 100%;
  padding: 1em;
}

.sign-up-btn {
  text-align: center;
  padding: 0.7em;
  align-self: center;
  margin-top: 0.3em;
}

.splash-title {
  text-align: center;
  font-size: 3.1em;
  color: var(--white);
  margin: 0;
  padding: 0.8em 0;
}

.splash-link {
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
}

.nav-link1a {
  padding: 0.5em;
  background-color: var(--blue);
}

.nav-link2b {
  padding: 0.5em;
  background-color: var(--blue);
}

.splash-container {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* -------------- Group index  ------------- */

#group-index-title {
  text-align: center;
  font-size: 2em;
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  padding: 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grp-expenses h1 {
  width: 60%;
}

.new-grp-heading h1 {
  color: var(--white);
  align-self: center;
  text-align: center;
  padding: 0.2em;
  width: 100%;
}

#group-icon {
  width: 100%;
  padding: 2.75em;
}

#group-index-title h1 {
  padding: 0.3em;
  align-self: center;
}

.new-grp-heading {
  font-size: 2rem;
  align-self: center;
  background-color: var(--blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

#groups {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-top: 9.2em;
}

.group-info {
  display: flex;
  width: 100%;
  color: var(--text);
  gap: 4em;
  font-size: 1.5em;
  padding: 0.5em;
  align-items: center;
  background-color: #285b85;
}

.group-names {
  width: 40%;
}

.new-grp-link {
  border: 1px solid #285b85;
  background-color: var(--green);
  width: 100%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
}

.save-grp-btn {
  padding: 0.3em;
  text-align: center;
  background-color: var(--blue);
  margin-left: 2em;
  margin-top: 10px;
  color: var(--white);
}

.form-control {
  padding: 0.75em;
  border: 1px solid #285b85;
  margin-bottom: 1.4em;
  width: 100%;
}

/* -------------- Group show  ------------- */
#group-show-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
  font-family: monospace, sans-serif;
}

.show-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  width: 62%;
  margin-top: 4em;
}

.show-links a {
  text-decoration: none;
  border: 1px solid #285b85;
  padding: 10px;
  align-self: center;
  text-align: center;
}

.edit-show {
  background-color: var(--blue);
  color: var(--white);
}

.total-expense {
  display: flex;
  gap: 4em;
  font-size: 1.5em;
  align-items: center;
  background-color: var(--blue);
  margin: 0 1.7em;
  padding: 0.2em 0.7em;
}

.group-info-show {
  display: flex;
  width: 100%;
  color: var(--text);
  gap: 2em;
  font-size: 1.5em;
  align-items: center;
  background-color: #266dab;
}

.grp-expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2em;
  align-items: center;
  gap: 10%;
  width: 100%;
}

.recent {
  font-size: 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.group-cont-show {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: var(--white);
}

#add-show {
  background-color: var(--blue);
  color: var(--white);
}

.edit.show {
  background-color: var(--blue);
  color: var(--white);
}

.backward {
  padding: 10px;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
}

.grp-show-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.show-amount {
  text-align: center;
}

.show-name {
  text-align: start;
  font-size: 1em;
}

.show-link-edit {
  display: flex;
  flex-direction: column;
}

.delete-show {
  border: 1px solid var(--white);
  background-color: var(--blue);
  padding: 10px;
  text-align: center;
  margin: 2em 0;
  width: 250px;
  color: var(--white);
}

.show-link-back {
  display: flex;
  flex-direction: column;
}

/* -------------- Group edit  ------------- */

#update-links {
  display: flex;
  width: 62%;
  margin-top: 4em;
  align-items: center;
}

#update-links a {
  text-decoration: none;
  border: 1px solid var(--green);
  background-color: var(--green);
  width: 25%;
  padding: 10px;
  align-self: center;
  text-align: center;
  margin-left: 25em;
}

/* -------------- Expense new  ------------- */

.form-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 4em;
  width: 100%;
  height: 10%;
  background-color: var(--green);
  padding: 2em;
}

.form-btn {
  border: 1px solid #285b85;
  background-color: var(--green);
  width: 20%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
}

.category-none {
  display: flex;
}

.back-btn {
  border: 1px solid #285b85;
  background-color: var(--blue);
  width: 10%;
  padding: 10px;
  margin: 3em 1em;
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
}

/* -------------- mobile version  ------------- */

@media only screen and (max-width: 678px) {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;

    /* width: 100%; */
  }

  body {
    background-color: rgb(237, 242, 245);
  }

  .recent {
    font-size: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #group-index-title {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #group-index-title h1 {
    padding: 0.2em;
    font-size: 1.4em;
    text-align: center;
    align-self: center;
  }

  .category-none {
    display: none;
  }

  .group-info {
    font-size: 1em;
    gap: 2em;
    width: 100%;
  }

  .group-info a {
    font-size: 1em;
    text-decoration: none;
  }

  .splash-link {
    text-decoration: none;
    font-size: 0.6em;
    padding: 10px;
    background-color: var(--blue);
  }

  img {
    width: 5em;
    height: 5em;
  }

  .new-grp-link {
    border: 1px solid var(--green);
    background-color: var(--green);
    width: 100%;
    padding: 10px;
    margin: 3em 1em;
    align-self: center;
    text-align: center;
    text-decoration: none;
  }

  .new-grp-link a {
    text-decoration: none;
    width: 100%;
  }

  /* -------------- New Group  ------------- */

  .new-grp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .new-grp-heading {
    font-size: 0.9em;
    align-self: center;
    background-color: var(--blue);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
  }

  .new-link-back {
    display: flex;
    justify-content: center;
  }

  .new-grp-form {
    width: 96%;
    margin-left: -1.2em;
  }

  .form-control {
    padding: 0.6em;
    border: 1px solid var(--green);
    margin-bottom: 1em;
    width: 100%;
  }

  /* -------------- Group show  ------------- */

  #group-show-title {
    text-align: center;
    font-size: 0.87em;
    background-color: var(--blue);
    color: var(--white);
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
    font-family: monospace, sans-serif;
  }

  .total-expense {
    display: flex;
    justify-content: space-between;
    gap: 3.2em;
    font-size: 1em;
    align-items: center;
    background-color: var(--blue);
    margin: 0 1em;
    padding: 0.2em 0.4em;
    width: 100%;
    color: #333;
  }

  .group-info-show {
    display: flex;
    width: 100%;
    color: var(--text);
    gap: 1em;
    font-size: 1em;
    align-items: center;
    background-color: var(--blue);
  }

  .group-info-show img {
    width: 2.1em;
    height: 2.1em;
  }

  .group-info-show p {
    font-size: 0.8em;
  }

  .grp-expenses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    gap: 11em;
  }

  .group-cont-show {
    display: grid;
    gap: 5.4em;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    left: 0;
    background-color: var(--white);
  }

  .grp-show-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    width: 2.4em;
    height: 1.2em;
    gap: 4px;
    margin-left: 0.6em;
  }

  .bar {
    flex-direction: column;
    width: 2em;
    height: 0.4em;
    gap: 4px;
    background-color: var(--white);
  }

  .show-amount {
    text-align: end;
    width: 40%;
  }

  .show-name {
    text-align: start;
    font-size: 0.8em;
    position: absolute;
    left: 0;
    margin-left: 0.5em;
    width: 40%;
    background-color: var(--white);
    color: #dadada;
  }

  .show-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-top: 4em;
  }

  .show-link-edit {
    display: flex;
    flex-direction: column;
  }

  .delete-show {
    border: 1px solid #285b85;
    background-color: var(--blue);
    padding: 10px;
    text-align: center;
    margin: 2em 0;
    width: 100%;
    color: var(--white);
  }

  .show-link-back {
    display: flex;
    flex-direction: column;
  }

  .show-links a {
    text-decoration: none;
    border: 1px solid #285b85;
    background-color: var(--blue);
    width: 100%;
    padding: 6px;
    align-self: center;
    text-align: center;
    color: var(--white);
  }

  .new-expense-title {
    font-size: 1em;
    width: 100%;
  }

  .new-expense {
    width: 100%;
  }

  .splash-user {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
  }

  .splash-para {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
  }

  .sign-in {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .nav-link1a {
    padding: 0.5em;
    background-color: var(--blue);
  }

  .nav-link2b {
    padding: 0.5em;
    background-color: var(--blue);
  }

  .splash-title {
    text-align: center;
    font-size: 1em;
    color: var(--white);
    margin: 0;
    padding: 0.8em 0;
  }
}
