<div id ="group-show-title">
   <h1 cla="new-expense-title"> ADD YOUR NEW TRANSACTION</h1>
</div>
<div class="new-expense">
<%= render "form", expense: @expense %>
<div>
<%= link_to 'back', :back, class: "back-btn"%>
</div>
</div>
